<ng-container *ngIf="infoData">
  <div class="container-fluid">
    <h3>Information</h3>
    <label> Title : {{infoData.meta.title}}</label>
    <label> Source : {{infoData.meta.source}}</label>
    <label> Duration : {{infoData.meta.duration}}</label>
    <label> Tags : {{infoData.meta.tags}}</label>
  </div>
  <div class="container-fluid">
    <img class="img-thumbnail img-fluid" [src]="infoData.thumb" alt="source image not available">
  </div>
  <div class="container-fluid">
    <h3>Video Quality Available</h3>
    <span class="badge bg-primary" *ngFor="let quality of infoData.video_quality">{{quality}}</span>

  </div>
</ng-container>
